<! -- наследование шаблона default -->
{% extends 'flatpages/default.html' %}

{% block title %} Post details {% endblock title %}

{% load custom_filters %}
{% block content %}
<h1>{{request.user}}</h1>

<table>
    <tr>
        <td>
            <b>
                № поста
            </b>
        </td>
        <td>
            <b>
                Заголовок
            </b>
        </td>


        <td>
            <b>
                Дата публикации в формате (день.месяц.год)
            </b>
        </td>
        <td>
            <b>
                Первые 20 слов текста статьи/весь текст
            </b>
        </td>
        <td>
                    Категория
        </td>
    </tr>

    <tr>

        <td>
            {{ post.id }}
        </td>

        <td>
            {{ post.title|default:"Без заголовка"|truncatewords:4|title }}


            <a href="{% url 'post_update' post.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->

            <a href="{% url 'post_delete' post.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление товара-->

        </td>
        <td>
            {{ post.created|default:"Без даты" }}
        </td>
        <td>
            {{ post.text|truncatewords:5}}
        </td>
        <td>
                    {{post.cats}}
        </td>
    </tr>
</table>

<a href="{% url 'post_add'  %}"><u> добавить товар </u></a> <!-- добавим ссылку на добавление товара-->

<button><a href="{% url 'subscribe' post.id %}">Подписаться</a></button>
<br>


{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
{% endif %}
<br>

{% endblock content %}